*{
    margin:0px;
    padding:0px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
    color:aliceblue;
    align-content: center;
    background-color: rgb(235, 12, 201);
}
.container{
    height:50vh;
    width:25vw;
    border:2px solid black;
    /* margin:0 auto;*/
    background-color: black;
    border-radius: 2px;
    overflow: auto;
    margin-top: 10%;
    border-radius: 10px;
}
#se{
    font-size: 1vw;
    margin-left: 20%;
    margin-top: 20px;
    border-radius: 2px;
}
h1{
    display: flex;
    justify-content: center;
}
ul{
    text-decoration: none;
    list-style: none;
}
li{
    display: flex;
    justify-content: space-evenly;
    margin-top:2%;
    border:2px solid rgb(27, 216, 6);
}